body {
    font-family: "Adobe Garamond", serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    display: flex;
    height: 100vh;
  }
  
  .left {
    background-color: #f5f5f5;
    flex: 1;
    padding: 2rem;
    position: relative;
  }
  
  .right {
    background-color: #ececec;
    flex: 1;
    padding: 2rem;
    position: relative;
  }
  
  .left-header {
    position: fixed;
    top: 2rem;
    left: 2rem;
  }
  
  .right-header {
    position: fixed;
    top: 2rem;
    right: 2rem;
  }
  
  .right-header nav a {
    color: #000;
    text-decoration: none;
    margin-right: 1rem;
    transition: color 0.3s;
  }
  
  .right-header nav a:hover {
    color: #666;
  }
  
  
.gif {
    position: absolute;
    object-fit: cover;
    filter: grayscale(100%);
    transition: all 0.3s;
  }
  
  .gif-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100% - 5rem);
    position: relative;
    transform: translate(15%, 10%);
  }
  
  .gif-container .gif {
    width: calc(60vmin * 3/4);
    aspect-ratio: 3/4;
    position: absolute;
  }
  
  .gif-container .gif:nth-child(1) {
    z-index: 6;
  }
  
  .gif-container .gif:nth-child(2) {
    z-index: 5;
    transform: scale(0.9) translateX(18%);
  }
  
  .gif-container .gif:nth-child(3) {
    z-index: 4;
    transform: scale(0.81) translateX(36%);
  }
  
  .gif-container .gif:nth-child(4) {
    z-index: 3;
    transform: scale(0.729) translateX(54%);
  }
  
  .gif-container .gif:nth-child(5) {
    z-index: 2;
    transform: scale(0.6561) translateX(72%);
  }
  
  .gif-container .gif:nth-child(6) {
    z-index: 1;
    transform: scale(0.59049) translateX(90%);
  }
  
  .title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100% - 5rem);
    margin-top: 3rem;
  }
  
  .title {
    font-size: 2rem; 
    color: #000;
    text-decoration: none;
    margin-bottom: 1rem;
    cursor: pointer;
    transition: color 0.3s;
  }
  
  .title:hover {
    color: #666;
  }
  
  .title-number {
    font-size: 0.8rem; /* H6 size number */
    display: inline;
    margin-right: 0.5rem;
  }

  .title-selected {
    color: #666;
  }
  
  .title-line {
    position: absolute;
    height: 1px;
    background-color: #666;
    transition: all 0.3s;
  }